{% extends 'base.html' %}

{% block head %}
    {{ super() }}

    {#    <link rel="stylesheet" href="{{ url_for('static', filename='third_party/bootstrap_table/bootstrap-table.css') }}">#}
    {#    <link rel="stylesheet"#}
    {#          href="{{ url_for('static', filename='third_party/bootstrap-editable/bootstrap-editable.css') }}">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard/dashboard.css') }}">

{% endblock %}


{% block page_content %}

    <h2>服务器状态</h2>
    <hr class="hr">

    <div class="panel-body" style="padding:0;">

        {#        服务器列表#}
        <div class="server_container col-md-12" style="padding: 0">

            <div id="wrapper" class="server_list" style="white-space: nowrap;overflow: auto;text-align: center;">


            </div>

        </div>
        <div class="clearfix" style="margin-bottom: 20px;"></div>
        {#        图表#}
        <div id="gauge" class="dashboard col-md-12"></div>

        <div class="clearfix" style="margin-bottom: 20px;"></div>

        <div id="lineStack" class="dashboard col-md-12"></div>


    </div>




{% endblock %}


{% block scripts %}
    {{ super() }}
    {#bootstrap_table#}
    {#    <script src="{{ url_for('static', filename='third_party/bootstrap_table/bootstrap-table.js') }}"></script>#}
    {#    <script src="{{ url_for('static', filename='third_party/bootstrap_table/locale/bootstrap-table-zh-CN.js') }}"></script>#}
    {#    <script src="{{ url_for('static', filename='third_party/bootstrap-editable/bootstrap-editable.min.js') }}"></script>#}
    {#    <script src="{{ url_for('static', filename='third_party/bootstrap-editable/bootstrap-table-editable.js') }}"></script>#}
    <script src="{{ url_for('static', filename='third_party/echarts/echarts.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/MouseWheel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard/dashboard.js') }}"></script>



    <script>

    </script>
{% endblock %}
